{% extends "base.html" %}
{% load staticfiles %}

{% block app_level_head_tag_content %}
<link rel="stylesheet" href="{% static 'home/css/tecdir_home_css.css' %}">
{% endblock %}

{% block content %}
<div class="row root-folder">
    <div class="col-sm-8 col-md-6 col-lg-4  col-root-sub-folder">
        <a href="#">
        <div class="root-sub-folder">
            <object class="root-sub-folder-object" type="image/svg+xml" data="{% static 'home/images/folder_icon/python.svg' %}">Your browser does not support SVG</object>
            <h3 class="root-sub-folder-title"><span class="label label-default label-python">Python</span></h3>
            <img src="{% static 'home/images/folder/folder_gray_128.128.png' %}"/>
        </div>
        </a>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-root-sub-folder">
        <div class="root-sub-folder">
            <!--<object class="root-sub-folder-object" type="image/svg+xml" data="{% static 'home/images/folder_icon/python.svg' %}">Your browser does not support SVG</object>-->
            <img class="root-sub-folder-object" src="{% static 'home/images/folder_icon/ubuntu_36_36.png' %}" atl="ubuntu"/>
            <h3 class="root-sub-folder-title"><span class="label label-default label-ubuntu">Ubuntu</span></h3>
            <a href="#"><img src="{% static 'home/images/folder/folder_gray_128.128.png' %}"/></a>
        </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4  col-root-sub-folder">
        <div class="root-sub-folder">
            <!--<object class="root-sub-folder-object" type="image/svg+xml" data="{% static 'home/images/folder_icon/python.svg' %}">Your browser does not support SVG</object>-->
            <img class="root-sub-folder-object" src="{% static 'home/images/folder_icon/elastic_logo_200_36_36.png' %}">
            <h3 class="root-sub-folder-title"><span class="label label-default label-elastic-search">Elasticsearch</span></h3>
            <a href="#"><img src="{% static 'home/images/folder/folder_gray_128.128.png' %}"/></a>
        </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4  col-root-sub-folder">
        <div class="root-sub-folder">
            <!--<object class="root-sub-folder-object" type="image/svg+xml" data="{% static 'home/images/folder_icon/python.svg' %}">Your browser does not support SVG</object>-->
            <!--home/images/folder_icon/computer_network_36_36.jpg-->
            <img class="root-sub-folder-object" src="{% static 'home/images/folder_icon/computer_network_36_36.jpg' %}">
            <h3 class="root-sub-folder-title"><span class="label label-default label-computer-network">Computer Network</span></h3>
            <a href="#"><img src="{% static 'home/images/folder/folder_gray_128.128.png' %}"/></a>
        </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-root-sub-folder">
        <div class="root-sub-folder">
            <!--<object class="root-sub-folder-object" type="image/svg+xml" data="{% static 'home/images/folder_icon/python.svg' %}">Your browser does not support SVG</object>-->
            <img class="root-sub-folder-object" src="{% static 'home/images/folder_icon/mysql_36_36.png' %}">
            <h3 class="root-sub-folder-title"><span class="label label-default label-mysql">MqSQL</span></h3>
            <a href="#"><img src="{% static 'home/images/folder/folder_gray_128.128.png' %}"/></a>
        </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4  col-root-sub-folder">
        <div class="root-sub-folder">
            <!--<object class="root-sub-folder-object" type="image/svg+xml" data="{% static 'home/images/folder_icon/python.svg' %}">Your browser does not support SVG</object>-->
            <img class="root-sub-folder-object" src="{% static 'home/images/folder_icon/java_36_36.png' %}">
            <h3 class="root-sub-folder-title"><span class="label label-default label-java">Java</span></h3>
            <a href="#"><img src="{% static 'home/images/folder/folder_gray_128.128.png' %}"/></a>
        </div>
    </div>
</div>
{% endblock %}