
.navbar-default{
    border-bottom: 3px solid #517ab4;
}

.navbar-default .base-navbar-brand{
    color: #3863A0;
    font-size: xx-large;
    font-family: Georgia;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 50px;

    }

.base-container-fluid{
    height: 80px;
    }

.copy-right-p{
    color: #96AFD1;
    padding-top: 20px;
    padding-left: 30px;
    }

.tecdir-footer{
    background-color: #3965A4;
    height: 60px;
    border-radius: 5px;
    }


/* --------------------------   Extra Small Devices, Phones ------------------------*/
@media only screen and (max-width : 768px) {

    .navbar-default{
    border-bottom: 2px solid #517ab4;
    }

    .navbar-default .base-navbar-brand{
        color: #3863A0;
        font-size: large;
        font-family: Georgia;
        font-weight: 600;
        padding-top: 13px;
        padding-left: 15px;
    }

    .base-container-fluid{
        height: 50px;
    }

    .copy-right-p{
        color: #96AFD1;
        padding-top: 10px;
        padding-left: 30px;
    }

    .tecdir-footer{
        background-color: #3965A4;
        height: 40px;
        border-radius: 4px;
    }
}


