{% extends "base.html" %}
{% load staticfiles %}

{% block app_level_head_tag_content %}
<link rel="stylesheet" href="{% static 'linux_app/css/tecdir_linux_app_css.css' %}">
<script src="{% static 'linux_app/js/tecdir_linux_app_js.js' %}"></script>
{% endblock %}

{% block content %}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-1">
                <img src="{% static 'linux_app/images/logos/linux_home_logo.png' %}">
        </div>
        <div class="col-md-4">
            <h2 class="jumbotron-h2">LINUX</h2>
        </div>
    </div>

</div>


<!--<div class="row">-->
    <!--<div class="col-md-1"></div>-->
    <!--<div class="col-md-10">-->
        <!--<div class="panel-group" id="accordion-tutorial">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="linux-tutorial panel-heading">-->
                    <!--<h4 class="linux-tutorial panel-title">-->
                        <!--<a data-toggle="collapse" data-parent="#accordion-tutorial" href="#linux-tutorial-accordion"><strong>Linux Tutorial</strong></a>-->
                        <!--<i class="linux-tutorial indicator glyphicon glyphicon-folder-open pull-right"></i>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div id="linux-tutorial-accordion" class="panel-collapse collapse in">-->
                    <!--<div class="panel-body">-->

                        <!--<div class="col-md-3"></div>-->

                        <!--<div class="col-md-6">-->
                            <!--<div class="list-group">-->
                                <!--<a href="/linux/tmux" role="button" class="btn list-group-item linux-index-title">tmux</a>-->
                                <!--<button type="button" class="list-group-item">1) Introduction</button>-->
                                <!--&lt;!&ndash;<button type="button" class="list-group-item">Tuple</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="list-group-item">Dict</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="list-group-item">Class</button>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-3"></div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-1"></div>-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col-md-1"></div>-->
    <!--<div class="col-md-10">-->
        <!--<div class="panel-group" id="accordion-blog">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="linux-tutorial panel-heading">-->
                    <!--<h4 class="linux-tutorial panel-title">-->
                        <!--<a data-toggle="collapse" data-parent="#accordion-blog" href="#linux-tutorial-accordion"><strong>Linux Blogs</strong></a>-->
                        <!--<i class="linux-tutorial indicator glyphicon glyphicon-folder-open pull-right"></i>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div id="linux-blog-accordion" class="panel-collapse collapse in">-->
                    <!--<div class="panel-body">-->

                        <!--<div class="col-md-3"></div>-->

                        <!--<div class="col-md-6">-->
                            <!--<div class="list-group">-->
                                <!--<a href="/linux/tmux" role="button" class="btn list-group-item linux-index-title">Installation and Configurations</a>-->
                                <!--<button type="button" class="list-group-item">1) Installing </button>-->
                                <!--&lt;!&ndash;<button type="button" class="list-group-item">Tuple</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="list-group-item">Dict</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="list-group-item">Class</button>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-3"></div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-1"></div>-->
<!--</div>-->


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="linux-tutorial panel-heading">
                    <h4 class="linux-tutorial panel-title">
                        <!--<a data-toggle="collapse" data-parent="#accordion" href="#python-tutorial-accordion"><strong>Python Tutorial</strong></a>-->
                        <a data-toggle="collapse" data-parent="#accordion" href="#linux-tutorial-accordion"><strong>Linux Tutorial</strong></a>
                        <i class="linux-tutorial indicator glyphicon glyphicon-folder-open pull-right"></i>
                    </h4>
                </div>
                <div id="linux-tutorial-accordion" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="list-group">
                                <a href="/linux/tmux" role="button" class="btn list-group-item linux-index-title">tmux</a>
                                <!--<button type="button" class="list-group-item">1) Introduction</button>-->
                                <a href="" class="btn list-group-item subtitle-style"><b>1) Introduction</b></a>

                                <!--<button type="button" class="list-group-item">Tuple</button>-->
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion-blog">
            <div class="panel panel-default">
                <div class="linux-tutorial panel-heading blog-panel">
                    <h4 class="linux-tutorial panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#linux-blog-accordion"><strong>Package Installations and Configurations</strong></a>
                        <i class="linux-tutorial indicator glyphicon glyphicon-folder-open pull-right"></i>
                    </h4>
                </div>
                <div id="linux-blog-accordion" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="list-group">
                                <a href="/linux/blogs/home" role="button" class="btn list-group-item linux-index-title">Installation and Configurations</a>
                                <!--<button type="button" class="list-group-item"><a href="/linux/blogs/how-to-install-postgres-on-centos" >1) Installing </a></button>-->
                                <a href="/linux/blogs/how-to-install-postgres-on-centos" class="btn list-group-item subtitle-style"><b>1) Installing PostgresSQL on Centos</b></a>
                                <a href="/linux/blogs/how-to-install-python-on-centos" class="btn list-group-item subtitle-style"><b>2) Installing Python on Centos</b></a>
                                <a href="/linux/blogs/how-to-install-rabbitmq-on-centos" class="btn list-group-item subtitle-style"><b>3) Installing RabbitMQ on Centos</b></a>
                                <!--<button type="button" class="list-group-item">Tuple</button>-->
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion-problem-solution">
            <div class="panel panel-default">
                <div class="linux-tutorial panel-heading prob-sol-panel">
                    <h4 class="linux-tutorial panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#linux-problem-solution"><strong>Exceptions and their possible Solutions</strong></a>
                        <i class="linux-tutorial indicator glyphicon glyphicon-folder-open pull-right"></i>
                    </h4>
                </div>
                <div id="linux-problem-solution" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="list-group">
                                <a href="/linux/blogs/home" role="button" class="btn list-group-item linux-index-title">Exceptions and Solutions</a>
                                <!--<button type="button" class="list-group-item"><a href="/linux/blogs/how-to-install-postgres-on-centos" >1) Installing </a></button>-->
                                <a href="/linux/blogs/pip-install-psycopg2-on-centos" class="btn list-group-item subtitle-style"><b>1) Pip install psycopg2 on Centos</b></a>
                                <!--<button type="button" class="list-group-item">Tuple</button>-->
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-1"></div>
</div>



{% endblock %}


<!--http://www.w3schools.com/howto/howto_css_modal_images.asp-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<style>-->
<!--#myImg {-->
    <!--border-radius: 5px;-->
    <!--cursor: pointer;-->
    <!--transition: 0.3s;-->
<!--}-->

<!--#myImg:hover {opacity: 0.7;}-->

<!--/* The Modal (background) */-->
<!--.modal {-->
    <!--display: none; /* Hidden by default */-->
    <!--position: fixed; /* Stay in place */-->
    <!--z-index: 1; /* Sit on top */-->
    <!--padding-top: 100px; /* Location of the box */-->
    <!--left: 0;-->
    <!--top: 0;-->
    <!--width: 100%; /* Full width */-->
    <!--height: 100%; /* Full height */-->
    <!--overflow: auto; /* Enable scroll if needed */-->
    <!--background-color: rgb(0,0,0); /* Fallback color */-->
    <!--background-color: rgba(0,0,0,0.9); /* Black w/ opacity */-->
<!--}-->

<!--/* Modal Content (image) */-->
<!--.modal-content {-->
    <!--margin: auto;-->
    <!--display: block;-->
    <!--width: 80%;-->
    <!--max-width: 700px;-->
<!--}-->

<!--/* Caption of Modal Image */-->
<!--#caption {-->
    <!--margin: auto;-->
    <!--display: block;-->
    <!--width: 80%;-->
    <!--max-width: 700px;-->
    <!--text-align: center;-->
    <!--color: #ccc;-->
    <!--padding: 10px 0;-->
    <!--height: 150px;-->
<!--}-->

<!--/* Add Animation */-->
<!--.modal-content, #caption {-->
    <!-- -webkit-animation-name: zoom;-->
    <!-- -webkit-animation-duration: 0.6s;-->
    <!--animation-name: zoom;-->
    <!--animation-duration: 0.6s;-->
<!--}-->

<!--@-webkit-keyframes zoom {-->
    <!--from {-webkit-transform:scale(0)}-->
    <!--to {-webkit-transform:scale(1)}-->
<!--}-->

<!--@keyframes zoom {-->
    <!--from {transform:scale(0)}-->
    <!--to {transform:scale(1)}-->
<!--}-->

<!--/* The Close Button */-->
<!--.close {-->
    <!--position: absolute;-->
    <!--top: 15px;-->
    <!--right: 35px;-->
    <!--color: #f1f1f1;-->
    <!--font-size: 40px;-->
    <!--font-weight: bold;-->
    <!--transition: 0.3s;-->
<!--}-->

<!--.close:hover,-->
<!--.close:focus {-->
    <!--color: #bbb;-->
    <!--text-decoration: none;-->
    <!--cursor: pointer;-->
<!--}-->

<!--/* 100% Image Width on Smaller Screens */-->
<!--@media only screen and (max-width: 700px){-->
    <!--.modal-content {-->
        <!--width: 100%;-->
    <!--}-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Image Modal</h2>-->
<!--<p>In this example, we use CSS to create a modal (dialog box) that is hidden by default.</p>-->
<!--<p>We use JavaScript to trigger the modal and to display the current image inside the modal when it is clicked on. Also note that we use the value from the image's "alt" attribute as an image caption text inside the modal.</p>-->

<!--&lt;!&ndash;<img id="myImg" src="img_fjords.jpg" alt="Trolltunga, Norway" width="300" height="200">&ndash;&gt;-->
<!--<img id="myImg" src="/tecdir/tecdir/wsgi/tecdir_project/linux_app/static/linux_app/images/logos/terminal.png" alt="Trolltunga, Norway" width="300" height="200">-->


<!--&lt;!&ndash; The Modal &ndash;&gt;-->
<!--<div id="myModal" class="modal">-->
  <!--<span class="close">&times;</span>-->
  <!--<img class="modal-content" id="img01">-->
  <!--<div id="caption"></div>-->
<!--</div>-->

<!--<script>-->
<!--// Get the modal-->
<!--var modal = document.getElementById('myModal');-->

<!--// Get the image and insert it inside the modal - use its "alt" text as a caption-->
<!--var img = document.getElementById('myImg');-->
<!--var modalImg = document.getElementById("img01");-->
<!--var captionText = document.getElementById("caption");-->
<!--img.onclick = function(){-->
    <!--modal.style.display = "block";-->
    <!--modalImg.src = this.src;-->
    <!--captionText.innerHTML = this.alt;-->
<!--}-->

<!--// Get the <span> element that closes the modal-->
<!--var span = document.getElementsByClassName("close")[0];-->

<!--// When the user clicks on <span> (x), close the modal-->
<!--span.onclick = function() {-->
    <!--modal.style.display = "none";-->
<!--}-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
