{% extends "base.html" %}
{% load staticfiles %}

{% block app_level_head_tag_content %}
<link rel="stylesheet" href="{% static 'computer_network_app/css/tecdir_computer_network_app_css.css' %}">
<script src="{% static 'computer_network_app/js/tecdir_computer_network_app_js.js' %}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <!--<img src="{% static 'python_app/images/logos/python-logo.png' %}">-->
    <div class="row">
        <div class="col-md-1">
            <object type="image/svg+xml" data="{% static 'computer_network_app/svg/computer-network-logo/networking.svg' %}">
                Your browser does not support SVG
            </object>
        </div>
        <div class="col-md-4">
            <h2 class="jumbotron-h2">Computer Network</h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="computer-network-tutorial panel-heading">
                    <h4 class="computer-network-tutorial panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#computer-network-tutorial-accordion"><strong>Computer Network Tutorial</strong></a>
                        <i class="computer-network-tutorial indicator glyphicon glyphicon-folder-open pull-right"></i>
                    </h4>
                </div>
                <div id="computer-network-tutorial-accordion" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="col-md-3"></div>

                        <div class="col-md-6">
                            <div class="list-group">
                                <a href="ccna/introduction-200-125/" role="button" class="btn list-group-item computer-network-index-title">Cisco Certified Network Associate (CCNA)</a>
                                <a href="/linux/blogs/how-to-install-postgres-on-centos" class="btn list-group-item subtitle-style"><b>1) Installing PostgresSQL on Centos</b></a>
                                <!--<button type="button" class="list-group-item">List</button>-->
                                <!--<button type="button" class="list-group-item">Tuple</button>-->
                                <!--<button type="button" class="list-group-item">Dict</button>-->
                                <!--<button type="button" class="list-group-item">Class</button>-->
                            </div>
                        </div>

                        <div class="col-md-3"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


{% endblock %}