

.terminal-body {
    background-color: #586E75;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.terminal-command {
    #float: left;
    margin: 0;
    padding: 0;
    font-family: Menlo, Courier New;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.terminal-command-output {
    padding-top: 5px;
    margin-left: 10px;
}

.blog-title-strong {
    color: #2EAD7B;
}

.blog-rabbitmq-title-strong {
    color: #FF6600;
}


.row-body {
    padding: 40px;
    background-color: #F4F4F4;
}

.row-content {
    padding-top: 15px;
    background-color: white;
}


.content-style {
    font-family: monospace;
}


.file-path {
    border-radius: 3px;
    #background-color: #2EAD7B;
    padding: 3px;
    color: #3e79cc;
    border: 1px solid #EEE;
    font-family: monospace;
}


.href-link {
    border-radius: 3px;
    #background-color: #FF851B;
    padding: 3px;
    color: white;
    border: 1px solid #EEE;
}



.line {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* --------------------------   Extra Small Devices, Phones ------------------------*/
@media only screen and (max-width : 768px) {

    .row-body {
        padding: 20px;
        background-color: #F4F4F4;
    }

    .terminal-body {
        background-color: #586E75;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .terminal-command {
        #float: left;
        margin: 0;
        padding: 0;
        font-family: Menlo, Courier New;
        font-size: 15px;
        text-rendering: optimizeLegibility;
        font-weight: bold;
        color: white;
        margin-left: 10px;
    }

    .terminal-command-output {
        padding-top: 5px;
        margin-left: 10px;
    }

    .blog-title-strong {
        color: #2EAD7B;
    }

    .blog-rabbitmq-title-strong {
        color: #FF6600;
    }


    .row-content {
        padding-top: 15px;
        background-color: white;
    }


    .content-style {
        font-family: monospace;
    }


    .file-path {
        border-radius: 3px;
        #background-color: #2EAD7B;
        padding: 3px;
        color: #3e79cc;
        border: 1px solid #EEE;
        font-family: monospace;
    }


    .href-link {
        border-radius: 3px;
        #background-color: #FF851B;
        padding: 3px;
        color: white;
        border: 1px solid #EEE;
    }



    .line {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }



}