
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    background-color: #a3c7e0;
}

.jumbotron-h2 {
    font-family: fantasy;
}

.panel-default>.panel-heading{
    background-image: -webkit-linear-gradient(top,#30CA99 0,#30CA99 100%) !important;
    background-image: -o-linear-gradient(top,#30CA99 0,#30CA99 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#30CA99),to(#30CA99)) !important;
    background-image: linear-gradient(to bottom,#30CA99 0,#30CA99 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30CA99', endColorstr='#30CA99', GradientType=0) !important;
    background-repeat: repeat-x !important;
}

.linux-tutorial >.panel-title>a {
    color: #f5f5f5;
    text-decoration : none;
    padding-left: 20px;
}

.linux-tutorial >.indicator {
    color: #f5f5f5;
    float: left !important;
}

.linux-index-title {
    background-color: #ED3E44;
    color: #f5f5f5 !important;
    font-family: inherit;
    letter-spacing: .02em;
    font-weight: bolder;
    font-size: large;
}

.linux-index-title:hover {
    background-color: #30CA99 !important;
}

.linux-index-title:focus {
    background-color: #30CA99 !important;
}


.subtitle-style {
    text-align: left;
}

/* --------------------------   Extra Small Devices, Phones ------------------------*/
@media only screen and (max-width : 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding-top: 0px;
        padding-bottom: 0;
        margin-bottom: 30px;
        color: inherit;
        background-color: #E95420;
    }

    #ubuntu_logo_svg {
        padding-left: 2px;
    }
    .panel-default>.panel-heading{
        background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%) !important;
        background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%) !important;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8)) !important;
        background-image: linear-gradient(to bottom,#30CA99 0,#30CA99 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0) !important;
        background-repeat: repeat-x !important;
    }

    .linux-tutorial >.panel-title>a {
        color: #f5f5f5;
        text-decoration : none;
        padding-left: 20px;
    }

    .linux-tutorial >.indicator {
        color: #f5f5f5;
        float: left !important;
    }

    .linux-index-title {
        background-color: cadetblue;
        color: #f5f5f5 !important;
        font-family: inherit;
        letter-spacing: .02em;
        font-weight: bolder;
        font-size: large;
    }

    .linux-index-title:hover {
        background-color: #30CA99 !important;
    }

    .linux-index-title:focus {
        background-color: #30CA99 !important;
    }


    .subtitle-style {
        text-align: left;
    }

}